# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives :**
+ list some popular languages for data science
+ list some popular libraries for data science
+ list some popular open source environment for data science

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. sql

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. pandas
3. scikit learn

| Data Science Tools |
| --------------|
| jupyter notebook |
| Rstudio |
| Apache spark |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60.
(200/60)

3.3333333333333335

## Author
sewar